#navigation ul {
  display: flex;
}
#navigation ul li {
  margin: 20px;
  list-style: none;
}

#user {
  padding: 40px;
}

#user form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#user input {
  margin: 10px 0;
}
